<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
	<title>Client</title>
</head>

<body>
	<div class="d-flex justify-content-center mt-5">
		<div class="card" style="width: 25rem;">
			<div class="card-body text-center">
				<form action="#" th:action="@{/client}" th:object="${client}" method="post">
					<div class="row">
						<div class="col">
							<h1 class="h3 mb-3 font-weight-normal" th:if="${client.username == null}">New Client</h1>
							<h1 class="h3 mb-3 font-weight-normal" th:if="${client.username != null}">Edit Client</h1>
							<input class="form-control m-1" type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
							<input class="form-control m-1" type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
							<input class="form-control m-1" type="text" th:field="*{username}" id="username" placeholder="Username" th:readonly="${client.username != null}">
							<input class="form-control m-1" type="email" th:field="*{email}" id="email" placeholder="you@example.com">
							<input class="form-control m-1" type="text" th:field="*{address}" id="address" placeholder="1234 Main St">
							<div class="mb-3">
								<select th:field="*{country}" class="custom-select d-block w-100" id="country">
									<option value="">Choose Country</option>
									<option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.name}"></option>
								</select>
							</div>
						</div>
					</div>
					<hr class="mb-4" />

					<button class="btn btn-primary btn-lg" type="submit">Save Client</button>
				</form>
			</div>
		</div>
	</div>

	<footer class="my-5 pt-5 text-muted text-center text-small">
		<p class="mb-1">&copy; 2019 Avalah</p>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
